body {
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 100%;
   line-height: 1.6em;
   margin: 0;
   padding: 0;
   background:
      linear-gradient(160deg, black 70%, goldenrod, gold, goldenrod, black);
   background-color: black;
}

.container {
   width: 100%;
   margin: auto;
   overflow: hidden;
}

#message-display {
   min-height: 80px;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 20px;
   width: 35%;
   text-align: center;
   border: 3px solid #000;
   border-radius: 5px;
   background: rgba(255, 239, 213, 0.5);
}

/*  set deal no deal buttons display */
#message-display p {
   margin: 5px;
}

#directions {
   font-size: 17px;
   line-height: 1.6em;
   font-weight: bold;
   color: #f4f4f4;
}

#offer-amt {

   font-size: 25px;
   font-weight: bold;
   color: #f4f4f4;
}

#deal-btn {
   border-radius: 5px;
   background-color: #7ffca9;
   font-weight: bold;

}

#no-deal-btn {
   border-radius: 5px;
   background-color: #fd7a99;
   font-weight: bold;
}

button:hover {
   transform: scale(1.1);
}

#main-stage {
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
}

#stage {
   width: 550px;
   min-height: 600px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   align-items: center;
   justify-content: center;

}

#left-stage {
   width: 25%;
   margin: 0 auto;
}

#right-stage {

   width: 25%;
   margin: 0 auto;
}

.briefcase {
   width: 100px;
   height: 80px;
   margin: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("./sprites/briefcase.png");
   background-repeat: no-repeat;
   object-fit: fill;
   font-size: 18px;
   font-weight: bold;
}

.briefcase:hover {
   transform: scale(1.2)
}

.opened {
   font-size: 18px;
   font-weight: bold;
   color: #f4f4f4;
   text-decoration: underline;
   /* height: 80px; */
   background-position: 0px -110px;
}

.unopened {
   /* height: 80px; */
   background-position: 0px -10px;
}

#offer-buttons button {
   font-size: 22px;
   margin-left: 10px;
}

table {
   table-layout: auto;
   width: 100%;
   margin: auto;
}

td {
   width: 25%;
   padding: 5px 0;
   text-align: center;
   border: 3px solid #000;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   background: linear-gradient(gold, goldenrod);
}

.eliminated {
   color: gray;
   text-decoration: line-through;
}

.case-won {
   transform: scale(1.2);
}

#right-stage p {
   margin: 0;
   font-size: 18px;
   font-weight: bold;
}

.player-case {
   margin: auto;
   margin-top: 8px;
   border-radius: 5px;
   background-color: black;
}

#player-case-display {
   height: 130px;
   padding: 5px;
   border: 3px solid #000;
   border-radius: 5px;
   background: rgba(255, 239, 213, 0.5);
}

#player-case-display h3 {
   margin: 0;
   border: 3px solid #000;
   padding: 3px;
   background: linear-gradient(gold, goldenrod);
   border-radius: 5px;
   color: #000;
}

#banker-offers {
   margin-top: 10px;
   min-height: 260px;
   padding: 5px;
   border: 3px solid #000;
   border-radius: 5px;
   background: rgba(255, 239, 213, 0.5);
   color: #f4f4f4;
}

#banker-offers h3 {
   margin: 0;
   border: 3px solid #000;
   padding: 3px;
   background: linear-gradient(gold, goldenrod);
   border-radius: 5px;
   color: #000;
}

/* media queries */
@media(max-width: 768px) {

   header,
   #message-display,
   #main-stage,
   #left-stage,
   #right-stage {
      width: 100%;
   }


}